.sidebar {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 20px;
    width: 100%;
    max-width: 250px;
    height: 100vh;
    background: rgba(178, 184, 179, 0.586);
}

.sidebar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
    padding: 5px 10px;
    border-radius: 6px;
    background: #f6f6f6;
    gap: 20px;
    cursor: pointer;
}

@media (max-width: 800px) {
    .sidebar {
        max-width: 100%; /* Hace que la barra lateral ocupe todo el ancho */
        padding: 30px 10px; /* Ajusta el relleno para adaptarse al ancho de la pantalla */
    }

    .sidebar-item {
        margin: 0px 10px; /* Reduce el margen horizontal */
        padding: 10px; /* Ajusta el relleno */
    }
}
